<h3><a id="burndown-tooltip-1" href="#" data-toggle="tooltip" data-placement="left" title="{{getToolTip('burndown_description')}}">Burndown</a></h3>


        <p>
            Selecting <span class="em-high">BurnDown</span>: will set your Burndown Goal in Months = Forecast
            Duration, and will adjust Profit Margin in tandem with Plan Rolling Revenue Forecast to Recover Costs.
        </p>

        <p>
            Selecting <span class="em-high">Month</span>: will allow you to set the target month you wish to
            recover costs (Burndown Goal), and will adjust Profit Margin in tandem with Plan Rolling Revenue Forecast
            to Profit &/or Loss after the Burndown Goal Month has been reached.
        </p>
    </div>

    <div class="col-md-10">
        <div class="form-group form-inline ">
            <label class="col-md-13" for="burndownModeSelector">Burndown Target Mode</label>
            <select class="col-md-5 form-control" ng-model="forecasting.burndownMode" id="burndownModeSelector"
                    ng-options="opt.text for opt in burndownModeOptions"
                    ng-init="forecasting.burndownMode=burndownModeOptions[0]"
                    ng-change="dropDownTriggerRuncard()">
            </select>
        </div>
    </div>

    <div class="col-md-10">
        <div class="form-group form-inline ">
            <label for="burndownGoal" class="col-md-13">Cost Model: Burndown Goal (Months)</label>
            <input id="burndownGoal" class="col-md-5 form-control" type="number" ng-model="forecasting.burndownMonths"
                   ng-readonly="getBurnDownModeIsTrue()">
        </div>
    </div>

    <div class="col-md-10">
        <div class="form-group form-inline ">
            <label class="col-md-13">Cost Model: Adjustment (Profit Margin / Points)</label>
            <input class="col-md-5 form-control" type="number" ng-model="forecasting.profitMarginPoints"
                   ng-readonly="true">
        </div>
    </div>
</div>


