<table>
    <caption>Help Me Choose...How Many AI Packs?</caption>
    <tr>
        <th>Foundation App Characteristics</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>How many apps will you run?</td>
        <td><input type="number" ng-model="aiChooser.apps"></td>
    </tr>
    <tr>
        <td>How many folks on your dev teams per app (avg)?</td>
        <td><input type="number" ng-model="aiChooser.devs" value="{{aiChooser.devs}}"></td>
    </tr>
    <tr>
        <td>How many steps in your CI pipeline?</td>
        <td><input type="number" ng-model="aiChooser.steps" value="{{aiChooser.steps}}"></td>
    </tr>
</table>


<p>Shekel recommends <span class="em-max">{{ais()}}</span> ai pack(s).</p>

<div class="row">
    <a href="#" ng-click="setAis(); dropDownTriggerSizing(); aiHelpMeChoose = !aiHelpMeChoose">Accept AI
        Recommendation!</a>
</div>
<div class="row">
    <a href="#" ng-click="aiHelpMeChoose = !aiHelpMeChoose">Cancel</a>
</div>
