<br>
 	<table>
  	<caption>Help Me Choose...How Many AI Packs?</caption>
  		<tr>
    		<th>Foundation App Characteristics</th>
    		<th>Value</th> 
  		</tr>  
  		<tr>
    		<td>How many apps will you run?</td>
    		<td><input type="number" ng-model="aiChooser.apps" ></td> 
  		</tr>
  		<tr>
    		<td>How many folks on your dev teams per app (avg)?</td>
    		<td><input type="number" ng-model="aiChooser.devs" value="{{aiChooser.devs}}"></td> 
  		</tr>
  		<tr>
    		<td>How many steps in your CI pipeline?</td>
    		<td><input type="number" ng-model="aiChooser.steps" value="{{aiChooser.steps}}"></td> 
  		</tr>
 	</table>


<br>

<span><p>Recommended # of (50) AI packs = <span class="best-practice" >{{ais()}}</span>.<br></p></span>

	<a href="#" ng-click="setAis()"><p>Accept AI Recommendation!</p></a><br>