<div class="panel panel-primary">
  <div class="panel-heading bg-brand-6">Step 4: Estimate Application Size</div>
  <div class="panel-body">
    <div>
      <div class="">
        <ul class="nav nav-tabs">
          <li ng-class="{'active': storage.fixedSize === 'small'}">
            <a href ng-click="changeSize('small')">Small</a>
          </li>
          <li ng-class="{'active': storage.fixedSize === 'medium'}">
            <a href ng-click="changeSize('medium')">Medium</a>
          </li>
          <li ng-class="{'active': storage.fixedSize === 'large'}">
            <a href ng-click="changeSize('large')">Large</a>
          </li>
          <li ng-class="{'active': storage.fixedSize === 'custom'}">
            <a href ng-click="changeSize('custom')">Custom</a>
          </li>
        </ul>
      </div>
      <div class="">
        <p>{{data.sizingDescription}}</p>

        <div class="row">
          <label class="col-md-10">AI Packs</label>
          <div class="col-md-4">
            <span ng-hide="storage.fixedSize === 'custom'">{{data.elasticRuntimeConfig.aiPacks.label}}</span>
            <span ng-show="storage.fixedSize === 'custom'">
              <select class="form-control" ng-model="data.elasticRuntimeConfig.aiPacks"
                  ng-options="opt as opt.label for opt in data.aiPackOptions" ng-change="customSizeDropdownUpdated()">
              </select>
            </span>
          </div>
        </div>
        <div class="row">
          <label class="col-md-10">AI Average RAM (GB)</label>
          <div class="col-md-4">
            <span ng-hide="storage.fixedSize === 'custom'">{{data.elasticRuntimeConfig.avgRam.value}}</span>
            <span ng-show="storage.fixedSize === 'custom'">
              <select class="form-control" ng-model="data.elasticRuntimeConfig.avgRam"
                  ng-options="opt as opt.value for opt in data.avgRamOptions" ng-change="customSizeDropdownUpdated()">
              </select>
            </span>
          </div>
        </div>
        <div class="row">
          <label class="col-md-10">AI Average Storage (GB)</label>
          <div class="col-md-4">
            <span ng-hide="storage.fixedSize === 'custom'">{{data.elasticRuntimeConfig.avgAIDisk.value}}</span>
            <span ng-show="storage.fixedSize === 'custom'">
              <select class="form-control" ng-model="data.elasticRuntimeConfig.avgAIDisk"
                  ng-options="opt as opt.value for opt in data.avgAIDiskOptions" ng-change="customSizeDropdownUpdated()">
              </select>
            </span>
          </div>
        </div>

        <div class="row">
          <label class="col-md-10">Cell Instance Type</label>
          <div class="col-md-4">
            <span ng-hide="storage.fixedSize === 'custom'">{{data.elasticRuntimeConfig.instanceType.instance_type}}</span>
            <span ng-show="storage.fixedSize === 'custom'">
              <select class="form-control" ng-model="data.elasticRuntimeConfig.instanceType"
                  ng-options="opt as opt.instance_type for opt in data.instanceTypes" ng-change="customSizeDropdownUpdated()">
              </select>
            </span>
          </div>
        </div>

        <div class="row">
          <label class="col-md-10">Cell Mem Size (GB)</label>
          <div class="col-md-4">{{data.elasticRuntimeConfig.runnerRam}}</div>
        </div>

        <div class="row">
            <label class="col-md-10">Cell Ephemeral Storage Size (GB)</label>
            <div class="col-md-4">{{data.elasticRuntimeConfig.runnerDisk}}</div>
        </div>

        <div class="row">
            <label class="col-md-10">Availability Zone</label>
            <div class="col-md-4">
              <span ng-hide="storage.fixedSize === 'custom'">{{data.elasticRuntimeConfig.azCount}}</span>
              <span ng-show="storage.fixedSize === 'custom'">
                <select class="form-control" ng-model="data.elasticRuntimeConfig.azCount"
                    ng-options="opt as opt for opt in data.availabilityZones" ng-change="customSizeDropdownUpdated()">
                </select>
              </span>
            </div>
        </div>
        <div class="row" ng-show="storage.fixedSize === 'custom'">
            <label class="col-md-10">Extra Cells per AZ</label>
            <div class="col-md-4">
              <select class="form-control" ng-model="data.elasticRuntimeConfig.extraRunnersPerAZ"
                  ng-options="opt as opt for opt in data.extraCellsPerAZ" ng-change="customSizeDropdownUpdated()">
              </select>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
