<div class="col-md-10">
    <form role="form" class="styleguide-form form-inline">
        <h3>Application Size Estimates</h3>

        <label for="aiPacks">AI Packs</label>
        <select class="form-control" id="aiPacks" ng-model="aiPacks" ng-model-options="{ getterSetter: true }"
                ng-options="opt as opt.label for opt in aiPackOptions"></select>

        <a href="#" ng-click="aiHelpMeChoose = !aiHelpMeChoose">Help Me Choose #AIs</a>
        <br>

        <div id="ai-help-me-choose" ng-show="aiHelpMeChoose"
             ng-include="'app/components/sizing/ai-chooser.html'"></div>

        <div class="form-group">
            <label for="aiAvgRam">AI Average RAM (GB)</label>
            <select class="form-control" id="aiAvgRam" ng-model="platform.avgRam"
                    ng-options="opt as opt.value for opt in avgRamOptions"></select>
        </div>
        <br>

        <div class="form-group">
            <label for="aiAvgStorage">AI Average Storage (GB)</label>
            <select class="form-control" id="aiAvgStorage" ng-model="platform.avgAIDisk"
                    ng-options="opt as opt.value for opt in avgAIDiskOptions"></select>
        </div>
        <br>

        <div class="form-group">
            <label for="deaMemSize">DEA Mem Size</label>
            <select class="form-control" id="deaMemSize" ng-model="platform.deaSize"
                    ng-options="opt as opt.text for opt in deaSizeOptions">
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="deaEphemStorage">DEA Ephemeral Storage Size</label>
            <select class="form-control" id="deaEphemStorage" ng-model="platform.deaSizeDisk"
                    ng-options="opt as opt.text for opt in deaSizeOptionsDisk">
            </select>
        </div>
    </form>
</div>


