  <div >
    <span ng-if="fixedSize == '0'" class="animate-if">
      <h3>Minimum Resources for Small Size</h3>
      <div class="panel panel-alt panel-empty">
          <table class="table table-light">
              <tr>
                <td>
                  <p>The following are the minimum resource requirements for maintaining a Pivotal Cloud Foundry® (PCF) deployment with Ops Manager and Elastic Runtime on Amazon Web Services infrastructure:</p>
                  <ul>
                    <li>1 Elastic Load Balancer</li>
                    <li>1 Relational Database Service. We recommend at least a db.m3.xlarge instance with 100 GB of allocated storage.
                    </li>
                    <li>5 S3 Buckets</li>
                    <li>EC2 Instances: </li>
                      <ul>
                      <li>13 t2.micro</li>
                      <li>15 t2.small</li>
                      <li>2 m3.medium</li>
                      <li>6 m3.xlarge</li>
                      <li>3 m3.2xlarge</li>
                    </ul>
                  </ul>
                </td>
              </tr>
          </table>
      </div>
    </span>
    <span ng-if="fixedSize == '1'" class="animate-if">
      <h3>Minimum Resources for Medium Size</h3>
      <div class="panel panel-alt panel-empty">
        <table class="table table-light">
            <tr>
              <td>
                <p>The following are the minimum resource requirements for maintaining a Pivotal Cloud Foundry® (PCF) deployment with Ops Manager and Elastic Runtime on Amazon Web Services infrastructure:</p>
                <ul>
                  <li>1 Elastic Load Balancer</li>
                  <li>1 Relational Database Service. We recommend at least a db.m3.xlarge instance with 100 GB of allocated storage.
                  </li>
                  <li>5 S3 Buckets</li>
                  <li>EC2 Instances: </li>
                    <ul>
                    <li>13 t2.micro</li>
                    <li>15 t2.small</li>
                    <li>2 m3.medium</li>
                    <li>6 m3.xlarge</li>
                    <li>3 m3.2xlarge</li>
                  </ul>
                </ul>
              </td>
            </tr>
        </table>
      </div>
    </span>
    <span ng-if="fixedSize == '2'" class="animate-if">
      <h3>Minimum Resources for Large Size</h3>
      <div class="panel panel-alt panel-empty">
        <table class="table table-light">
            <tr>
              <td>
                <p>The following are the minimum resource requirements for maintaining a Pivotal Cloud Foundry® (PCF) deployment with Ops Manager and Elastic Runtime on Amazon Web Services infrastructure:</p>
                <ul>
                  <li>1 Elastic Load Balancer</li>
                  <li>1 Relational Database Service. We recommend at least a db.m3.xlarge instance with 100 GB of allocated storage.
                  </li>
                  <li>5 S3 Buckets</li>
                  <li>EC2 Instances: </li>
                    <ul>
                    <li>13 t2.micro</li>
                    <li>15 t2.small</li>
                    <li>2 m3.medium</li>
                    <li>6 m3.xlarge</li>
                    <li>3 m3.2xlarge</li>
                  </ul>
                </ul>
              </td>
            </tr>
        </table>
      </div>
    </span>

  </div>
