<div id="deaAllocations">
    <h3>Cell Details</h3>
    <table class="table table-light">
        <tr>
            <td>Usable Cell RAM(GB)</td>
            <td>{{elasticRuntime.runnerUsableRAM()}}</td>
        </tr>
        <tr>
            <td>Usable Cell Disk(GB)</td>
            <td>{{elasticRuntime.runnerUsableStorage()}}</td>
        </tr>
        <tr>
            <td>Number of Cells</td>
            <td>{{elasticRuntime.numRunnersToRunAIs()}}</td>
        </tr>
        <tr>
            <td>Cells per AZ</td>
            <td>{{elasticRuntime.numRunnersPerAz() || 0}}</td>
        </tr>
    </table>
</div>
