<div id="deaAllocations">
    <h3>DEA/Cell Details</h3>
    <table class="table table-light">
        <tr>
            <td>Usable DEA/Cell RAM(GB)</td>
            <td>{{runnerUsableRAM()}}</td>
        </tr>
        <tr>
            <td>Usable DEA/Cell Disk(GB)</td>
            <td>{{runnerUsableStg()}}</td>
        </tr>
        <tr>
            <td>Number of DEAs or Cells</td>
            <td>{{totalRunners()}}</td>
        </tr>
        <tr>
            <td>DEAs or Cells per AZ</td>
            <td>{{runnersPerAz()}}</td>
        </tr>
    </table>
</div>