<div id="deaAllocations">
    <h3>DEA Details</h3>
    <table class="table table-light">
        <tr>
            <td>DEA Memory 'Use-Able' (GB)</td>
            <td>{{deaUsableRam()}}</td>
        </tr>
        <tr>
            <td>DEA Storage 'Use-Able' (GB)</td>
            <td>{{deaUsableStg()}}</td>
        </tr>
        <tr>
            <td>DEA # Total</td>
            <td>{{totalDEAs()}}</td>
        </tr>
        <tr>
            <td>DEA # per AZ</td>
            <td>{{deasPerAz()}}</td>
        </tr>
    </table>
</div>