<div ng-init="$parent.selectedIaaS.id=0">
  <table class="table table-striped table-bordered">
    <tr>
      <h3>Step 1: Select the IaaS</h3>
    </tr>
    <tr>
        <td ng-repeat="iaaS in iaasSelectionList" >
          <label>
          <input type="radio" ng-value="iaaS.id" ng-disabled="iaaS.isDisabled" ng-click="setDefaultIaaS(iaaS)"   ng-model="$parent.selectedIaaS.id"/>
          {{iaaS.name}}
        </label>
      </td>
    </tr>
</table>
</div>

<!-- vCPU is only relevant for vSphere-->
<span ng-if="selectedIaaS.id == '0'" class="animate-if">
  <form role="form" class="form-horizontal">
      <h3>Step 1.1: IaaS Tuning</h3>
      <div class="form-group form-inline">
          <label class="col-md-13" for="cpuConsolidation">vCPU to Core Consolidation Ratio</label>
          <select class="form-control col-md-6 input-sm" id="cpuConsolidation"
                  ng-model="platformConfigMapping.iaasCPUtoCoreRatio"
                  ng-options="opt as opt.text for opt in iaasCPUtoCoreRatioOptions"
                  ng-change=" dropDownTriggerSizing();"></select>
      </div>
  </form>
</span>

<!-- AWS--
<span ng-if="selectedIaaS.id == '1'" class="animate-if">
  <form role="form" class="form-horizontal">
      <h3>Step 1.1: AWS Database</h3>
      <div class="form-group form-inline">
        <label>
           <input type="radio" ng-value=0 ng-click="setAwsDb()" ng-model="awsdb"/>RDS
        </label>
        <label>
           <input type="radio" ng-value=1 ng-click="setAwsDb()" ng-model="awsdb"/>MySQL
        </label>
      </div>
      <h3>Step 1.2: AWS Storage</h3>

      <div class="form-group form-inline">
        <label>
           <input type="radio" ng-value=0 ng-click="setAwsStorage()" ng-model="awsstorage"/>S3
        </label>
        <label>
           <input type="radio" ng-value=1 ng-click="setAwsStorage()" ng-model="awsstorage"/>NFS
        </label>
      </div>
      <h3>Step 1.3: AWS HA Proxy/ELB</h3>

      <div class="form-group form-inline">
        <label>
           <input type="radio" ng-value=0 ng-click="setAwsLB()" ng-model="awslb"/>HA Proxy
        </label>
        <label>
           <input type="radio" ng-value=1 ng-click="setAwsLB()" ng-model="awslb"/>ELB
        </label>
      </div>
  </form>

</span>
-->
