<div>
  <div>
      <h3>Minimum Resources for PCF Foundation and ERS</h3>
      <div class="panel panel-alt panel-empty">
          <table class="table table-light">
              <tr>
                <p>Your OpenStack tenant must have the following resources before you install Pivotal Cloud Foundry® </p>
                <ul>
                  <li>118 GB of RAM </li>
                  <li>22 available instances </li>
                  <li>16 small VMs (1 vCPU, 1024 MB of RAM, 10 GB of root disk)</li>
                  <li>3 large VMs (4 vCPU, 16384 MB of RAM, 10 GB root disk) </li>
                  <li>3 extra-large VMs (8 vCPU, 16 GB of RAM, 160 GB of ephemeral disk)</li>
                  <li>56 vCPUs </li>
                  <li>1 TB of storage </li>
                  <li>Neutron networking with floating IP support </li>
                </ul>

                <p>For more details on the minimum starting requirements refer to the documentation <a href="http://docs.pivotal.io/pivotalcf/customizing/openstack.html"/></p>
              </tr>
          </table>
      </div>
  </div>


</div>
