<div class="panel panel-primary">
  <div class="panel-heading bg-brand-6">Summary of Total Resources</div>
        <table class="table">
            <tr ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated'">
              <td width="70%">Pricing Type</td>
              <td width="30%">
                <select class="form-control" ng-model="storage.pricingType"
                    ng-options="t as t for t in getPricingTypes()" ng-change="updatePricingType()">
                </select>
              </td>
            </tr>
            <tr>
                <td width="70%">Total AZ's </td>
                <td width="30%">{{data.resourceSummary.azCount}}</td>
            </tr>
            <tr ng-show="data.selectedIaaS.id === 'vsphere' || data.selectedIaaS.id === 'openstack'">
                <td width="70%">Foundation Memory (GB)</td>
                <td width="30%">{{data.resourceSummary.ram}}</td>
            </tr>
            <tr ng-show="data.selectedIaaS.id === 'vsphere' || data.selectedIaaS.id === 'openstack'">
                <td width="70%">Foundation Storage (GB)</td>
                <td width="30%">{{data.resourceSummary.disk}}</td>
            </tr>
            <tr ng-show="data.selectedIaaS.id === 'vsphere' || data.selectedIaaS.id === 'openstack'">
                <td width="70%">Foundation vCPU #</td>
                <td width="30%">{{data.resourceSummary.cpu}}</td>
            </tr>

            <tr ng-show="data.selectedIaaS.id === 'vsphere' || data.selectedIaaS.id === 'openstack'">
                <td width="70%">Foundation Physical Cores (2GHz or >) #</td>
                <td width="30%">{{getPhysicalCores()}}</td>
            </tr>
            <tr ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated' || data.selectedIaaS.id === 'azure'">
                <td width="70%"><a target="_blank" href="{{data.selectedIaaS.pricingUrl}}">Instance Types</a></td>
                <td width="30%"></td>
            </tr>
            <tr ng-repeat="type in data.resourceSummary.vmTypes" ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated' || data.selectedIaaS.id === 'openstack' || data.selectedIaaS.id === 'azure'">

                <td width="70%">{{type.name}} ({{type.cpu}} CPU, {{type.ram}}GB RAM<span ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated' || data.selectedIaaS.id === 'azure'"> , {{type.cost | currency}}/hr</span>)</td>
                <td width="30%">{{type.count}} <span ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated' || data.selectedIaaS.id === 'azure'">({{type.totalCost | currency}}/hr)</span></td>
            </tr>
            <tr ng-show="data.selectedIaaS.id === 'aws' || data.selectedIaaS.id === 'aws-dedicated' || data.selectedIaaS.id === 'azure'">
                <td width="70%">Total Cost</td>
                <td width="30%">{{data.resourceSummary.totalCost | currency}}/hr</td>
            </tr>
            <tr>
                <td width="70%">Total IPs #</td>
                <td width="30%">{{data.resourceSummary.ips}}</td>
            </tr>
        </table>
</div>
