<div>
    <h3>Summary of Total Resources</h3>

    <div class="panel panel-alt panel-empty">
        <table class="table table-light">
            <tr>
                <td>Total AZ's </td>
                <td>{{tileService.azCount || 0}}</td>
            </tr>
            <tr>
                <td>Foundation Memory (GB)</td>
                <td>{{iaasAskSummary().ram || 0}}</td>
            </tr>
            <tr>
                <td>Foundation Storage (GB)</td>
                <td>{{iaasAskSummary().disk || 0}}</td>
            </tr>
            <tr>
                <td>Foundation vCPU #</td>
                <td>{{iaasAskSummary().vcpu || 0}}</td>
            </tr>
            <tr>
                <td>Total IPs #</td>
                <td>{{iaasAskSummary().ip || 0}}</td>
            </tr>
            <tr>
                <td>Foundation Physical Cores (2GHz or >) #</td>
                <td>{{getPhysicalCores() || 0}}</td>
            </tr>
        </table>
    </div>
</div>
