<div class="panel panel-primary">
  <div class="panel-heading">Step 4: Select Services</div>
    <div class="panel-body">
      <div ng-repeat="service in data.services | orderBy:'name'" class="row">
        <div class="checkbox col-md-3">
          <label>
            <input type="checkbox" ng-model="storage.services[service.name].enabled" id="services[{{service.name}}]_enabled" ng-click="toggleService(service.name)"/> {{service.name}}
          </label>
        </div>
        <div class="col-md-1 margin-top-10" ng-show="storage.services[service.name].enabled">
          <a href ng-click="storage.services[service.name].configure = !storage.services[service.name].configure">Configure</a>
        </div>
        <div class="col-md-8 margin-top-10" ng-show="storage.services[service.name].configure">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <label>Version
              <select class="form-control" ng-model="storage.services[service.name].version"
                  ng-options="opt as opt for opt in service.versions" ng-change="serviceVersionChanged(service.name)">
              </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>VM/Application</strong>
            </div>
            <div class="col-md-2">
              <strong>Instances</strong>
            </div>
            <div class="col-md-4">
              <strong>Instance Type</strong>
            </div>
            <div class="col-md-2">
              <strong>Persistent Disk</strong>
            </div>
          </div>
          <div ng-repeat="vm in getServiceVMs(service.name)" class="row">
            <div class="col-md-4">
              {{vm.vm}}
            </div>
            <div class="col-md-2">
              <select class="form-control" ng-show="vm.instance_type" ng-disabled="vm.singleton" ng-model="vm.instances" ng-options="count for count in data.numberOfInstances" ng-change="serviceUpdated(service.name, vm)"></select>
              <select class="form-control" ng-hide="vm.instance_type" ng-disabled="vm.singleton" ng-model="vm.instances" ng-options="count for count in data.numberOfInstances" ng-change="serviceCountUpdated(service.name, vm)"></select>
            </div>
            <div class="col-md-4" ng-show="vm.instance_type">
              <select class="form-control" ng-model="vm.instance_type" ng-change="serviceUpdated(service.name, vm)">
                  <option value="{{type}}" ng-repeat="type in vm.valid_instance_types">{{getInstanceTypeInfo(type).name}} ({{getInstanceTypeInfo(type).cpu}} CPU, {{getInstanceTypeInfo(type).ram}} RAM)</option>
              </select>
            </div>
            <div class="col-md-2" ng-show="vm.instance_type">
              <select class="form-control" ng-model="vm.persistent_disk" ng-options="disk for disk in data.persistentDiskOptions" ng-change="serviceUpdated(service.name, vm)"></select>
            </div>
          </div>
          <div class="margin-bottom-20"></div>
        </div>
      </div>
    </div>
  </div>
</div>
