<!-- <a href="#" ng-click="applyTemplate(vmTemplate)">Refresh All Tables</a> -->


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="form-group form-inline">
                <label class="col-md-13">PCF Version</label>
                <select class="form-control col-md-6 input-sm" id="versionselect" ng-model="platformConfigMapping.ersVersion"
                        ng-options="opt as opt.value for opt in ersVersionOptions" ng-change="loadAzTemplate()">
                </select>
            </div>
        </div>
        <div ng-include="'app/components/sizing/iaas-selection.html'"></div>
        <div ng-include="'app/components/sizing/ai-form.html'"></div>
    </div>

    <div class="col-md-12" >
        <span ng-if="selectedIaaS.id == '0'" class="animate-if">
          <div ng-include="'app/components/sizing/vsphere.html'"></div>
        </span>
        <span ng-if="selectedIaaS.id == '1'" class="animate-if">
          <div ng-include="'app/components/sizing/aws.html'"></div>
        </span>
        <span ng-if="selectedIaaS.id == '2'" class="animate-if">
          <div ng-include="'app/components/sizing/azure.html'"></div>
        </span>
        <span ng-if="selectedIaaS.id == '3'" class="animate-if">
          <div ng-include="'app/components/sizing/gce.html'"></div>
        </span>
        <span ng-if="selectedIaaS.id == '4'" class="animate-if">
          <div ng-include="'app/components/sizing/openstack.html'"></div>
        </span>
        <div ng-include="'app/components/sizing/resource-list.html'"></div>
        <div ng-include="'app/components/sizing/dea-detail.html'"></div>
    </div>
</div>
<div class="row">
    <div id="vm-detail" ng-include="'app/components/sizing/vm-detail.html'"></div>
</div>
