<div class="panel panel-primary">
  <div class="panel-heading">PCF URLs</div>
  <table class="table">
    <tr>
      <td width="30%">System URL</td>
      <td width="70%">*.sys.{{storage.baseUrl}}</td>
    </tr>
    <tr>
      <td width="30%">Apps URL</td>
      <td width="70%">*.apps.{{storage.baseUrl}}</td>
    </tr>
    <tr ng-show="scsSelected()">
      <td width="30%">UAA URL</td>
      <td width="70%">*.uaa.sys.{{storage.baseUrl}}</td>
    </tr>
    <tr ng-show="scsSelected()">
      <td width="30%">Login URL</td>
      <td width="70%">*.login.sys.{{storage.baseUrl}}</td>
    </tr>
  </table>
</div>
