<div class="panel panel-primary">
  <div class="panel-heading bg-brand-6">VM Requirement Details</div>
    <div ng-repeat="tile in getTileNames()">
      <div class="panel-body"><strong>{{tile}} Resources</strong></div>
      <table class="table">
        <thead>
          <tr>
            <th>VM/Application</th>
            <th>Qty</th>
            <th ng-show="data.selectedIaaS.showInstanceFlavorsUsed">Instance Type</th>
            <th ng-show="data.selectedIaaS.showSystemResourcesUsed">RAM</th>
            <th ng-show="data.selectedIaaS.showSystemResourcesUsed">vCPU</th>
            <th ng-show="data.selectedIaaS.showSystemResourcesUsed">Total RAM</th>
            <th ng-show="data.selectedIaaS.showSystemResourcesUsed">Total vCPU</th>
            <th>Total Ephemeral Disk</th>
            <th>Total Persistent Disk</th>
            <th>Total Static IPs</th>
            <th>Total Dynamic IPs</th>
          </tr>
        </thead>
        <tr ng-repeat="vm in getVMs(tile)">
            <td>{{vm.vm}}</td>
            <td>{{vm.instances}}</td>
            <td ng-show="data.selectedIaaS.showInstanceFlavorsUsed">{{vm.instance_type}}  <span ng-if="vm.instance_type">({{vm.instanceInfo.cpu}} vCPU, {{vm.instanceInfo.ram}}GB RAM)</span></td>
            <td ng-show="data.selectedIaaS.showSystemResourcesUsed"><span ng-if="vm.instance_type">{{vm.instanceInfo.ram}}</span></td>
            <td ng-show="data.selectedIaaS.showSystemResourcesUsed"><span ng-if="vm.instance_type">{{vm.instanceInfo.cpu}}</span></td>
            <td ng-show="data.selectedIaaS.showSystemResourcesUsed"><span ng-if="vm.instance_type">{{vm.instanceInfo.ram * vm.instances}}</span></td>
            <td ng-show="data.selectedIaaS.showSystemResourcesUsed"><span ng-if="vm.instance_type">{{vm.instanceInfo.cpu * vm.instances}}</span></td>
            <td><span ng-if="vm.instance_type">{{vm.instanceInfo.ephemeral_disk * vm.instances}}</span></td>
            <td><span ng-if="vm.instance_type">{{vm.persistent_disk * vm.instances}}</span></td>
            <td><span ng-if="vm.instance_type">{{vm.static_ips * vm.instances}}</span></td>
            <td><span ng-if="vm.instance_type">{{vm.dynamic_ips * vm.instances}}</span></td>
        </tr>
      </table>
  </div>
</div>
