<div class="col-md-24">
<h3>VM Requirement Details</h3>
    <div ng-repeat="tile in getVms()">
        <p>{{tile.name}} Resources</p>
        <table class="table table-light table-scrollable-body">
            <thead>
                <tr>
                    <th>VM</th>
                    <th>Qty</th>
                    <th>RAM</th>
                    <th>vCPU</th>
                    <th>Total RAM</th>
                    <th>Total vCPU</th>
                    <th>Total Static IPs</th>
                    <th>Total Dynamic IPs</th>
                </tr>
            </thead>
            <tr ng-repeat="vm in tile.currentConfig">
                <td>{{vm.vm || 0}}</td>
                <td>{{vm.instances || 0}}</td>
                <td>{{vm.ram || 0}}</td>
                <td>{{vm.vcpu || 0}}</td>
                <td>{{vm.ram * vm.instances || 0}}</td>
                <td>{{vm.vcpu * vm.instances || 0}}</td>
                <td>{{vm.static_ips * vm.instances || 0}}</td>
                <td>{{vm.dynamic_ips * vm.instances || 0}}</td>

            <tr>
        </table>
    </div>
</div>
