<div>
<h2> Openstack resources for Ops Manager and Elastic Requirements </h2>
<p>Your OpenStack tenant must have the following resources before you install Pivotal Cloud Foundry® /p>
<ul>
  <li>70 GB of RAM </li>
  <li>22 available instances </li>
  <li>16 small VMs (1 vCPU, 1024 MB of RAM, 10 GB of root disk)</li>
  <li>3 large VMs (4 vCPU, 16384 MB of RAM, 10 GB root disk) </li>
  <li>32 vCPUs </li>
  <li>1 TB of storage </li>
  <li>Neutron networking with floating IP support </li>
</ul>

<p>For more details on the minimum starting requirements refer to the documentation <a href="http://docs.pivotal.io/pivotalcf/customizing/openstack.html"/></p>


</div>
