.ideal/
.idea/
/target/
.classpath
.project
.settings/
/bin/
.springBeans
src/main/resources/static/node_modules/
src/main/resources/static/.yo-rc.json
src/main/resources/static/shekeltest-results.xml
node_modules/
