@media print {

  body * {
    visibility: hidden;
  }

  #sideSummary .panel, #vmSummary .panel {
      border: none;
      box-shadow: none;
      border-radius: 0;
  }

  #sideSummary *, #vmSummary * {
    visibility: visible;
  }

  #sideSummary {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.panel-primary {
    border-color: #1b2a32;
}

.navbar-brand>img {
  height: 80px;
  padding: 20px;
  width: auto;
  left: 0;
  position: absolute;
  top: 0;
}

ul.navbar > .active > a, ul.navbar > .active > a:hover, ul.navbar > .active > a:focus {
  color: #f5f7f8;
}
