<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body ng-app="ShekelApp">

<div id="version" class="right" ng-controller="ShekelVersionController">
	<p>build-id={{version}}</p>
</div>

<div ng-controller="ShekelSizingController" id="input">
    <h1>Hello Shekel</h1>

    <div id="sizing-input">
        <h2>Sizing (Single Foundation):</h2>
        
        <div id="ai-packs" class=left>
	        AI Packs:
	        <select ng-model="aiPacks" ng-model-options="{ getterSetter: true }"
	        	ng-options="opt as opt.label for opt in aiPackOptions"></select>
	        </br>
	        
	        <a href="#" ng-click="aiHelpMeChoose = !aiHelpMeChoose">Help me choose</a>
	        
	        <div id="ai-help-me-choose" ng-show="aiHelpMeChoose">
	        	How many apps you got? 
	        	<input type="number" ng-model="aiChooser.apps" value="{{aiChooser.apps}}"></input>
	        	<br/>
	        	How many folks on your dev teams (avg)?
	        	<input type="number" ng-model="aiChooser.devs" value="{{aiChooser.devs}}"></input>
	        	<br/>
	        	How many steps in your pipeline
	        	<input type="number" ng-model="aiChooser.steps"value="{{aiChooser.steps}}" ></input>
	        	<br/>
	        	
	        	<span>You need {{ais()}} AI packs. <a href="#" ng-click="setAis()">accept!</a></span>
	        	<br/>
	        </div>
        </div>
        
        <div id="not-ai-packs" class=right>
	        RAM (GB):
	        <select ng-model="avgRam"
	        	ng-options="opt as opt.value for opt in avgRamOptions"></select>
	        
	        Disk (GB): 
	        <input type="number" ng-model="avgAIDisk"></input>
	        
	        DEA:
	        <select ng-model="deaSize" 
	        	ng-options="opt as opt.text for opt in deaSizeOptions">
	        </select>
	        
	        <br>
	        AZs:
	        <input type="number" ng-model="numAZ"></input>
	        
	        AZ Recovery (Ignored, use n+x factor: tracker #91141454):
	        <select>
	        	<option ng-repeat="i in aZRecoveryCapacity">{{i}}%</option>
	        </select>
	        
	        N+x factor:
	        <input type="number" ng-model="nPlusX"></input>
        </div>
    </div>
    <br>
	
	<div id="resource-ask">
		<h3>Resource Ask Summary (<a href="#" ng-click="applyTemplate(vmTemplate)">refresh</a>)</h3>
	
	    <ul>
		    <li>Calculating using {{deaDef.usableRam}} GB DEA head room.</li>
		    <li>Using n+x factor {{nPlusX}}.</li>
		    <li>The foundation has {{numAZ}} availability zones.</li>
		 	<li>Total # of DEA's: {{totalDEAs()}}</li>
			<li>DEA per AZ: {{deasPerAz()}}</li>
			<li>RAM: {{iaasAskSummary.ram}}</li>
			<li>Disk GB: {{iaasAskSummary.disk}} </li>
			<li>VCPU: {{iaasAskSummary.vcpu}}</li>
			<li>Physical Cores: {{getPhysicalCores() }}</li>
		</ul>
	</div>
	
    <div id="sizing-output">
    	<a href="#" ng-click="showTable = !showTable">Show all PCF Virtual Machine Detail.</a>
    	<div id="sizing-table" ng-show="showTable">
	    	<h2>Watcha need (full calculation)</h2>
	    	<table>
	    		<thead>
	    			<tr>
		    			<td>VM</td>
		    			<td>Qty</td>
	    			</tr>
	    		</thead>
	    		<tr ng-repeat="vm in getVms()">
	    			<td>{{vm.vm}}</td><td>{{vm.instances}}</td>	    		
	    		<tr>
	    	</table>
    	</div>
    </div>
</div>

<div id="foundation-estimator" ng-controller="ShekelFoundationController">
	<h2>How many PCF Foundations</h2>
	
	<p>Can your applications exist within a single security/compliance zone?</p>
		<select ng-model="singleComplianceZone" >
			<option>yes</option>
			<option>no</option>
		</select>
	<div ng-show="singleComplianceZone=='no'">
		<p>How many zones do you need?</p>
		<input type="number" ng-model="complianceZones">
	</div> 
	
	<p>Do you want a separate foundation for production.</p>
	<select ng-model="seperateForProd" >
		<option>yes</option>
		<option>no</option>
	</select>
	
	<p>How many physical data centers do you need to run in?</p>
	<input type="number" ng-model="physicalDC"></input>
	
	<p>You need {{foundations()}} foundations.</p>
</div>

<div id="costing" ng-controller="ShekelCostingController" >
	<h2>Costing</h2>
	
	<div id="deaAllocations">
		<h3>IaaS Inputs</h3>
		<p>Iaas Resources Allocated to Elastic Runtime (DEAs)</p>
		<span>VCPU: {{deaVcpu()}} Memory: {{deaRam()}} (accounts for overhead) Storage: {{deaDisk()}} </span>
	</div>
	
	<div id="costingInput">
		<h3>Inputs</h3>
		%of vCPU/App Instance:<input ng-model="vcpuPerAI"></input>
		Ramp up Initial Plans:<input ng-model="rampUpPlans"></input>
		Ramp up % growth per month:<input ng-model="rampUpGrowth"></input>
		<br/>
		Number of plans<input ng-model="initialPlans"></input>
		Burndown Goal (Months):<input ng-model="burndownMonths"></input>
		GB/Hr Adjustment (Profit Margin / Points):<input ng-model="profitMarginPoints"></input>
		
	</div>
	
</div>
</body>
</html>