<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body ng-app="ShekelApp">

<div ng-controller="ShekelSizingController" id="input">
    <h1>Hello Shekel</h1>

    <div id="sizing-input">
        <h2>Sizing:</h2>
        
        <div id="ai-packs">
	        AI Packs:
	        <select ng-model="aiPacks" 
	        	ng-options="opt as opt.label for opt in aiPackOptions"></select>
	        </br>
	        
	        <a href="#" ng-click="aiHelpMeChoose = !aiHelpMeChoose">Help me choose</a>
	        
	        <div id="ai-help-me-choose" ng-show="aiHelpMeChoose">
	        	How many apps you got? 
	        	<input type="number" ng-model="aiChooser.apps" value="{{aiChooser.apps}}"></input>
	        	<br/>
	        	How many folks on your dev teams (avg)?
	        	<input type="number" ng-model="aiChooser.devs" value="{{aiChooser.devs}}"></input>
	        	<br/>
	        	How many steps in your pipeline
	        	<input type="number" ng-model="aiChooser.steps"value="{{aiChooser.steps}}" ></input>
	        	<br/>
	        	
	        	<span>You need {{ais()}} AI packs. <a href="#" ng-click="setAis()">accept!</a></span>
	        	<br/>
	        </div>
        </div>
        
        RAM (GB):
        <select ng-model="avgRam"
        	ng-options="opt as opt.value for opt in avgRamOptions"></select>
        
        Disk (GB): 
        <input type="number" ng-model="avgAIDisk"></input>
        
        DEA:
        <select>
        	<option ng-repeat="i in deaSize">{{i}}</option>
        </select>
        
        AZs:
        <input type="number" ng-model="numAZ"></input>
        
        AZ Recovery:
        <select>
        	<option ng-repeat="i in aZRecoveryCapacity">{{i}}%</option>
        </select>
        
        N+x factor:
        <input type="number" ng-model="nPlusX"></input>
    </div>
    
    <p>Calculating using {{deaDef.usableRam}} GB DEA head room.</p>
    <p>Using n+x factor {{nPlusX}}.</p>
    <p>The foundation has {{numAZ}} availability zones.</p>
 	<p>Total # of DEA's: {{totalDEAs()}}</p>
	<p>DEA per AZ: {{deasPerAz()}}</p>
	
    <div id="sizing-output">
    	<h2>Watcha need (full calculation)</h2>
    	<a href="#" ng-click="buildVms()">rebuild</a>!
    	<table>
    		<thead>
    			<tr>
	    			<td>VM</td>
	    			<td>Qty</td>
    			</tr>
    		</thead>
    		<tr ng-repeat="vm in vms">
    			<td>{{vm.name}}</td><td>{{vm.qty}}</td>	    		
    		<tr>
    	</table>
    </div>
</div>

<div id="foundation-estimator" ng-controller="ShekelFoundationController">
	<h2>How many PCF Foundations</h2>
	
	<p>Can your applications exist within a single security/compliance zone?</p>
		<select ng-model="singleComplianceZone" >
			<option>yes</option>
			<option>no</option>
		</select>
	<div ng-show="singleComplianceZone=='no'">
		<p>How many zones do you need?</p>
		<input type="number" ng-model="complianceZones">
	</div> 
	
	<p>Do you want a separate foundation for production.</p>
	<select ng-model="seperateForProd" >
		<option>yes</option>
		<option>no</option>
	</select>
	
	<p>How many physical data centers do you need to run in?</p>
	<input type="number" ng-model="physicalDC"></input>
	
	<p>You need {{foundations()}} foundations.</p>
	
</div>


</body>
</html>