<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>CloudFoundry Sizing and Costing Tool</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/app/components/sizing/sizingController.js"></script>
    <script src="/app/components/plan/planController.js"></script>
    <script src="/app/components/plan/planService.js"></script>
    <script src="/app/components/version/versionController.js"></script>
    <script src="/app/components/costing/costingController.js"></script>
    <script src="/app/components/costing/costingDirectives.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body ng-app="ShekelApp">


<h1>Welcome to Shekel <span style="color:blue;font-size: 10pt""><sup>PCF Sizing & Costing Tool:     <span ng-controller="ShekelVersionController" >build-id={{version}}</span></sup></span></h1>
	<div id="warning" >
		<h3><font color="red" size="3">The IaaS Requirements provided by this tool are for PCF Elastic Runtime only, <br> Any additional PCF Service Tiles will require separate sizing exercise!</font> </h3>
	</div>

<div ng-controller="ShekelSizingController" id="input">
    <div id="sizing-input">
        <h2>Sizing (Single Foundation):</h2>
        
        <div id="ai-packs" >
	        AI Packs:
	        <select ng-model="aiPacks" ng-model-options="{ getterSetter: true }"
	        	ng-options="opt as opt.label for opt in aiPackOptions"></select>
	        <br>
	        
	        <a href="#" ng-click="aiHelpMeChoose = !aiHelpMeChoose">(Help Me Choose)</a>
	        <div id="ai-help-me-choose" ng-show="aiHelpMeChoose" ng-include="'app/components/sizing/ai-chooser.html'"></div>   
	        
        </div>
        
        <br>
        
        <div id="platform-properties"  ng-include="'app/components/sizing/platform-form.html'"></div>
	</div>
		<br>
		
	<div id="resource-ask" >
		<div id="resource-list"  ng-include="'app/components/sizing/resource-list.html'"></div>
		<a href="#" ng-click="applyTemplate(vmTemplate)">(Refresh Table)</a>
	</div>
	
	<br>
	
    <div id="sizing-output">
    	<a href="#" ng-click="showTable = !showTable">(Show all PCF Virtual Machine Details)</a>
    	<div id="vm-detail" ng-show="showTable" ng-include="'app/components/sizing/vm-detail.html'"></div>
    </div>
</div>
<div id="foundation-estimator" ng-controller="ShekelFoundationController">
	<h2>How many PCF Foundations</h2>
	
	<p>Can your applications exist within a single security/compliance zone?</p>
		<select ng-model="singleComplianceZone" >
			<option>yes</option>
			<option>no</option>
		</select>
	<div ng-show="singleComplianceZone=='no'">
		<p>How many zones do you need?</p>
		<input type="number" ng-model="complianceZones">
	</div> 
	
	<p>Do you want a separate foundation for production.</p>
	<select ng-model="seperateForProd" >
		<option>yes</option>
		<option>no</option>
	</select>
	
	<p>How many physical data centers do you need to run in?</p>
	<input type="number" ng-model="physicalDC"></input>
	
	<p>You need <span class="best-practice">{{foundations()}}</span> foundations.</p>
</div>

<div id="costing" ng-controller="ShekelCostingController" >
	<h2>Costing</h2>
	
	<div id="deaAllocations">
		<h3>IaaS Inputs</h3>
		<p>Iaas Resources Allocated to Elastic Runtime (DEAs)</p>
		<span>VCPU: {{deaVcpu()}} Memory: {{deaRam()}} (accounts for overhead) Storage: {{deaDisk()}} </span>
	</div>
	<div id="per-instance-allocations"> 
		<h3>IaaS Resources Per Application Instance</h3>
		<span>VCPU: {{aiAvgVcpu()}} Memory: {{aiAvgRam()}} Storage: {{aiAvgDisk()}} </span>
	</div>
	
	<div id="costing-input">
		<h3>Costing Inputs</h3>
		Forcast Duration (Months) <input ng-model="forecastLength" type="number">
		<div>
			PCF Cost: <input ng-model="paasCost" type="number">
			<input type="radio" ng-model="paasMonthly" value="monthly">Monthly
			<input type="radio" ng-model="paasMonthly" value="duration">Duration
		</div>
		<div>
			IaaS Cost: <input ng-model="iaasCost" type="number">
			<input type="radio" ng-model="iaasMonthly" value="monthly">Monthly
			<input type="radio" ng-model="iaasMonthly" value="duration">Duration
		</div>
		<form>
			Operational Cost: <input ng-model="opexCost" type="number">
			<input type="radio" ng-model="opexMonthly" value="monthly">Monthly
			<input type="radio" ng-model="opexMonthly" value="duration">Duration
		</form>
		<p>Total TCO is: <shkl-money value="{{getDurationTCO()}}"></shkl-money> over
			<shkl-month value="{{forecastLength}}"></shkl-month> months, 
			<shkl-money value="{{getMonthlyTCO()}}"></shkl-money> monthly.</p>
		<div id="payout">
			<p>
				You need to charge <shkl-money value="{{gbPerHrBreakEven()}}"></shkl-money> 
				per gigabyte hour to recoup your costs with 100% utilization
			</p>			
		</div>
	</div>
	<div id="forecasting-input">
		<h3>Forecasting Inputs</h3>
		<div id="costing-form" ng-include="'/app/components/forecasting/forecasting_form.html'"></div>
		<div id="forecasting-payout">
			<p>
				With a profit margin of {{forecasting.profitMarginPoints}}% you will
				pay off your (100% utilized from day 1) platform in 
				<shkl-month value="{{getPayoffMonths()}}"></shkl-month> months at 
				<shkl-money value="{{getGbPerHrWithPoints()}}"></shkl-money> gb/hr.
			</p>
			<p>
				With your expected rampup and plans you'll be profitable in {{calculatePayoffWithPlans()}} months.
			</p>
			<p>
				You will have made <shkl-money value="{{totalProfit()}}"></shkl-money> at the end of {{forecastLength}} months.
			</p>
		</div>
	</div>
	<div id="forecasting-runcard">
		<h3>Run Card</h3>
		<div id="runcard-table" ng-include="'/app/components/forecasting/run_card.html'"></div>
	</div>
</div>

<br>
<div id="plans" ng-controller="ShekelPlanController">
	<div id="plan-list" ng-include="'/app/components/plan/plan_table.html'"></div>
	<br>
	<a href="#" ng-click="showPlanForm=!showPlanForm">new plan</a>
	<div id="plan-form" ng-include="'/app/components/plan/plan_form.html'"></div>
</div>
</body>
</html>