<a id="plans_forcasting-1" href="#" data-toggle="tooltip" data-placement="left" title="{{getToolTip('plans_forcasting_input')}}"><h3>Forecasting Input</h3></a>

<div class="row">
    <shkl-num-input-form-group label="Ramp up Initial Plans"
                               ng-model="forecasting.initialPlans"></shkl-num-input-form-group>
    <shkl-num-input-form-group label="Ramp up growth per month %"
                               ng-model="forecasting.rampUpGrowth"></shkl-num-input-form-group>
    <shkl-num-input-form-group label="Plan Utilization, AI Hours in Operation %"
                               ng-model="forecasting.hoursInOperation"></shkl-num-input-form-group>
    <shkl-num-input-form-group label="Plan Utilization, AIs deployed %"
                               ng-model="forecasting.aiDeployed"></shkl-num-input-form-group>
</div>
