<h3>Foundation TCO</h3>
<div class="form-group form-inline">
    <label for="durationTCO"><a id="tco-tooltip-1" href="#" data-toggle="tooltip" data-placement="left" title="{{getToolTip('tco_duration')}}">Duration</a></label>
    <shkl-money id="durationTCO" value="{{getDurationTCO()}}"></shkl-money>
</div>
<div class="form-group form-inline">
    <label for="monthlyTCO"><a id="tco-tooltip-2" href="#" data-toggle="tooltip" data-placement="left" title="{{getToolTip('tco_monthly')}}">Monthly</a></label>
    <shkl-money id="monthlyTCO" value="{{getMonthlyTCO()}}"></shkl-money>
</div>
<div class="form-group form-inline">
    <label for="gbHRTCO"><a id="tco-tooltip-3" href="#" data-toggle="tooltip" data-placement="left" title="{{getToolTip('tco_base_gbhr')}}">Base GB/HR</a></label>
    <shkl-money id="gbHRTCO" value="{{gbPerHrBreakEven()}}"></shkl-money>
</div>

