<h1>TERMS OF SERVICE</h1>
<p>
    Welcome to Pivotal Cloud Foundry Sizing and Costing Tool, the sizing, forecasting and resource planning tool
    operated by
    Pivotal Software, Inc. (“Pivotal”). By using or accessing any of the services offered through
    http://sizing.cfapps.pez.pivotal.io (“Service Offering(s)”), You agree to be bound by these terms of service between
    You and Pivotal (the “Agreement”).
</p>
<p>
    If You do not agree to this Agreement, You must not use or access the Service Offering. If You are accepting this
    Agreement on behalf of an Organization (and not for You as individual), You represent and warrant that You have
    legal authority to bind that Organization, and You hereby enter into this Agreement on behalf of that Organization.
    “You” or “Your” means the entity accepting this Agreement and the individual accepting this Agreement on behalf of
    the entity. “Pivotal,” “we,” “us,” or “our” means (i) Pivotal Software, Inc., if You are located in the United
    States; or (ii) Pivotal Software International, if You are located in a country outside the United States.
    Capitalized terms used in the Agreement are defined throughout the Agreement and in this Section below.
</p>
<p>
    “Confidential Information” means information, software and materials provided by Pivotal to You, including software,
    information and materials of third parties, which are in tangible form and labeled “confidential” or the like, or,
    information which a reasonable person knew or should have known to be confidential. The following information shall
    be considered our Confidential Information whether or not marked or identified as such: software, technical
    information and documentation relating to the Service Offerings that is not otherwise made generally available to
    the public by Pivotal.
</p>
<p>
    “Content” means any and all applications, files, information, data, software, or other content uploaded to,
    published or
    displayed through the Service Offerings.
</p>
<p>
    “Intellectual Property Rights” means all worldwide intellectual property rights, including, without limitation,
    copyrights, trademarks, service marks, trade secrets, patents, patent applications, and moral rights, whether
    registered or unregistered.
</p>
<p>
    “Organization” means the entity that is accepting this Agreement.
</p>
<p>
    “Privacy Policy” means the then-current version of the privacy policy document available at
    http://sizing.cfapps.pez.pivotal.io , which we may modify from time to time.
</p>
<p>
    “Services Description(s)” means any description of or information about the Service Offerings made available to
    You through http://sizing.cfapps.pez.pivotal.io or any usage or access instructions that we provide to You and which
    we may modify from time to time.
</p>
<p>
    “Usage Data” means information regarding Your use of the Service Offerings, such as information on the amount of
    resources consumed.
</p>
<p>
    “Your Content” means any Content published or displayed through the Service Offerings by You, or your Your
    authorized users.
</p>
<ul>
    <li>The Service Offering.</li>
    <ul>
        <li>
            1.1 Generally . All access to, and use of, any Service Offerings are subject to the terms and conditions of
            this
            Agreement. You will comply with all laws, rules and regulations applicable to Your use of the Service
            Offering.
        </li>

        <li>1.2 Access to the Service Offering. You may access and use the Service Offering for solely Your own benefit
            (or the benefit of Your Organization).
        </li>
        <li>
            1.3 Free/Open Source Software. To the extent any Service Offering contains open source software,
            the underlying open source code for such open source software components of the Service Offering may be
            made available to You under a combination of free or open source licenses, which can be found at
            http://sizing.cfapps.pez.pivotal.io. You may obtain a copy of these licenses and any source code (and
            modifications) that we are required to make available under these licenses (the “Source Files”) at
            http://github.com/pivotalservices/shekel. You may also obtain a copy of the applicable Source Files by
            sending a written request, with your name and address to: Pivotal Software, Inc., 3495 Deer Creek Road,
            Palo Alto, CA 94903. All such requests should clearly specify: Open Source Files Request, Attention:
            General Counsel. This offer to obtain a copy of the Source Files is valid for three years from the date
            you first acquired access to the Service Offering.
        </li>
        <li>
            1.4 Usage Data. We may generate, collect, store and use Usage Data for any purpose. You agree that, as
            between You and Pivotal, Pivotal owns all such Usage Data. By way of example, we use Usage Data to track
            and manage our infrastructure, network storage, and software for billing, capacity planning and other
            product forecasting, improvement and development purposes. You agree that we may use, analyze, and
            otherwise perform any operations on or in connection with Relationship Data, Usage Data and Your Content
            to provide the services to which You have subscribed under this Agreement. Without limiting the foregoing,
            unless prohibited by applicable law, we may aggregate Usage Data such that it is not reasonably identifiable
            with or to the customer to which it relates (“Aggregate Data”). We may use and disclose Aggregate Data
            for any purpose.
        </li>
        <li>
            1.5 Disclosure of Data and Your Content. You agree that Pivotal may disclose Your Usage Data in the
            following circumstances: (a) to our affiliates and other entities of the Pivotal group of companies
            worldwide for the purposes set forth in this Agreement; (b) to Pivotal’s third-party service providers
            worldwide who provide services such as website hosting, data analysis, payment processing, order
            fulfillment, information technology and related infrastructure provision, customer service, email delivery,
            credit card processing, auditing and other similar services; (c) to a third party in the event of any
            reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion
            of Pivotal’s business, assets or stock (including in connection with any bankruptcy or similar proceedings);
            and (d) as Pivotal believes to be necessary or appropriate: (i) under applicable law, including laws outside
            your country of residence; (ii) to comply with legal process; (iii) to respond to requests from public and
            government authorities including public and government authorities outside your country of residence; (iv)
            to enforce this Agreement; (v) to protect Pivotal’s operations or those of any of its affiliates; (vi) to
            protect Pivotal’s rights, privacy, safety or property, and/or that of Pivotal’s affiliates, You or others;
            and (vii) to allow Pivotal to pursue available remedies or limit the damages that Pivotal may sustain.
            For example, we may need to process Your Content (or provide it to one of our affiliates, services
            providers, or contractors) to prevent or address service or technical problems, to provide customer
            support, to detect, prevent or address fraud, technology or security issues, to protect against harm to
            the rights, property or safety of us, our users or the public, or to respond to a subpoena, warrant,
            audit or agency action.
        </li>
    </ul>

    <li>2.Your Content
    <li>
        <ul>
            <li>
                2.1 Access to Your Content. You are solely responsible for Your Content. We are only acting as a passive
                conduit for the online distribution and publication of Your Content. The Service Offering performs
                operations on, and distributes, Your Content. You and Your authorized users retain all of your
                respective
                rights, title and interest in and to Your Content. Our rights to access and use Your Content are limited
                to
                those expressly granted in this Agreement. No other rights with respect to Your Content are implied. In
                terms of applicable data privacy laws we are acting as a data processor on your (the data controller’s)
                behalf regarding your content to the extent it constitutes personal data as per the applicable privacy
                laws.
            </li>
            <li>2.2 Security. You are responsible for protecting the security of Your Content, including any access you
                might provide to Your Content by Your employees, customers or other third parties. You will properly
                configure and use the Service Offering so that it is suitable for Your use. You will protect the privacy
                of any of Your users’ data (including by implementation of a privacy policy that complies with
                applicable
                law), provide any necessary notices to Your users, and obtain any legally-required consents from your
                users concerning your use of the Service Offering. You are responsible for complying with any laws or
                regulations that might apply to the Your Content. You are responsible for any consequences if Your
                Content is inadvertently exposed or lost and you have not encrypted, backed up or otherwise taken steps
                required by the relevant laws or regulations to protect Your Content. Pivotal will use commercially
                reasonable efforts to notify You, taking into account any applicable law, regulation, or governmental
                request.
            </li>
            <li>2.3 Transfer of Your Content. You consent that we may store Your Content in the United States or any
                other country in which we have a data center in our discretion. By uploading Your Content into the
                Service Offering, You may transfer and access Your Content from around the world, including to and from
                the United States. To the extent You provide Your Content in connection with customer support, You
                consent that we may handle Your Content in any country in which we or our agents maintain facilities. It
                is Your responsibility to ensure that You comply with applicable law when You transfer data across
                geographies.
        </ul>
</ul>
<li>3. Acceptable Use</li>
<ul>
    <li>3.1 General Restrictions. You will not and will not permit any third party to, as solely determined by us: (a)
        use
        the Service Offering to violate or encourage the violation of the rights of others (including intellectual
        property
        rights); (b) use the Service Offering to engage in or promote gambling, pornography, illegal activities; (c)
        circumvent or violate the restrictions of the Service Offering as described in this Agreement or Services
        Descriptions; (d) reverse engineer, decompile, or otherwise attempt to derive source code from the Service
        Offering,
        unless we make the source code publicly available; (e) disable, interfere with, disrupt, or circumvent any
        aspect of
        the Service Offering, including the integrity or performance of the Service Offering, or third-party content or
        data
        provided through the Service Offering; (f) access or use the Service Offering in a way intended to avoid
        recurring
        fees or exceeding usage limits; or (g) resell, distribute, sublicense, or otherwise transfer the Service
        Offering to
        any third party. You must ensure that any of Your users comply with the terms of this Agreement, and You agree
        that
        if You become aware of any violation by one of Your users, You will terminate that user’s access to Your Content
        immediately.
        If we have reason to believe that You or Your users have breached this Agreement or our Privacy Policy, we or
        our
        designated agent may review Your use of the Service Offering, including Your account, Your Content, and records,
        to
        verify Your compliance with this Agreement.
    </li>


    <li>3.2 Violations of Acceptable Use. If You become aware that any of Your Content or Your user’s use of Your
        Content violates Section 3.1 of this Agreement, You shall immediately suspend or remove the applicable Content
        or suspend access the end user’s access. If You fail to do so, we may ask You to do so. If You fail to comply
        with our request, we may suspend Your account or disable the applicable Content until You comply with our
        request.
    </li>
    <li>3.3 Notification Of Infringement Concerns. If You believe that Your copyrighted work has been copied or
        otherwise exploited and is accessible on or through the Service Offering in a way that constitutes copyright
        infringement, please send a notice to us as further detailed in our Privacy Policy.
    </li>
</ul>
<li>4. IP Ownership of Service Offering and Rights to Feedback</li>
<ul>
    <li>
        4.1 Ownership of Service Offering. We and our licensors own and retain all right, title and interest in and to
        the
        Service Offering, including all improvements, enhancements, modifications and derivative works thereof, and all
        Intellectual Property Rights therein. This includes any information that we collect and analyze in connection
        with
        the Service Offering, such as usage patterns, user feedback and other information to improve and evolve our
        products
        and services offerings. Your rights to use the Service Offering are limited to those expressly granted in this
        Agreement. No other rights with respect to the Service Offering or any related Intellectual Property Rights are
        implied.
    </li>
    <li>
        4.2 Feedback. If You provide comments, suggestions or other feedback to us regarding the Service Offering or
        Pivotal’s technology or business (the “Feedback”), You agree that we will be free to use any Feedback You
        provide
        for any purpose. You hereby grant to us a non-exclusive, perpetual, irrevocable, royalty-free, transferable,
        worldwide right and license, with the right to grant and authorize sublicenses, to use, reproduce, perform,
        display,
        disclose, distribute, modify, prepare derivative works of and otherwise use the Feedback without restriction in
        any
        manner now known or in the future conceived and to make, use, sell, offer to sell, import and export any product
        or
        service that incorporates or is based in whole or in part on the Feedback.
    </li>
</ul>

<li>5. Temporary Suspension</li>
<ul>
    <li>5.1 Generally. We may suspend Your use of the Service Offering if we determine in our sole discretion that: (a)
        You or Your use of the Service Offering is in breach of this Agreement, including without limitation Section 3
        (Acceptable Use); (b) Your use of the Service Offering poses a security risk to the Service Offering or other
        users of the Service Offering, or interferes with, disrupts, damages, or accesses in an unauthorized manner the
        servers, networks, or other properties or services of any third party including, but not limited to, Pivotal or
        any mobile communications carrier; or (c) suspension is required pursuant to our receipt of a subpoena or other
        request by a law enforcement agency.
    </li>

</ul>
<li>6. Term and Termination</li>
<ul>
    <li>
        6.1 Term of Agreement. This Agreement will commence at the point you first access the Service Offering and will
        be
        effective until terminated by Pivotal.
    </li>
    <li>6.2 Termination for Cause. We may terminate this Agreement effective immediately if: (a) we determine, in our
        sole
        discretion, that any of the events described in Section 5.1 have occurred or You have breached any of the
        provisions
        of Section 3 (Acceptable Use); (b) You breach a provision of this Agreement that is not capable of being cured,
        including Section X (Confidential Information); or (c) You breach any provision of this Agreement that is
        capable of
        being cured and don’t cure the breach within thirty (30) days after receiving an email identifying the breach
        from
        us.
    </li>
    <li>
        6.3 Termination for Convenience. You may terminate this Agreement at any time.
    </li>
    <li>6.5 Effect of Termination. Upon the termination of this Agreement for any reason: (a) all rights granted to you
        under this Agreement will immediately terminate; and (b) You must promptly discontinue all access or use of the
        Service Offering and delete or destroy any of our Confidential Information. Sections 1.5 (Free/Open Source
        Software), 1.6 (Relationship Data), 1.7 (Usage Data), 1.8 (Disclosure of Data and Your Content), 2 (Your
        Content); 3
        (Acceptable Use), 4 (IP Ownership), 5 (Payment and Taxes), 7 (Term and Termination), 8 (Warranty Exclusion), 9
        (Indemnification), 10 (Limitation of Liability), 11 (Confidential Information), 12 (Miscellaneous), and 13
        (Country-Specific Terms), will any survive the termination of this Agreement.
    </li>
</ul>
<li>7. Warranty Exclusion
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE OFFERINGS ARE PROVIDED “AS-IS” AND “AS AVAILABLE.” WE
    AND OUR LICENSORS AND SERVICE PROVIDERS DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS, IMPLIED, OR
    STATUTORY, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
    PURPOSE, TITLE, NON-INFRINGEMENT AND ANY WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE)
    REGARDING OR RELATING TO THE SERVICE OFFERING, THE DOCUMENTATION, OR ANY MATERIALS OR SERVICES FURNISHED OR PROVIDED
    TO YOU UNDER THIS AGREEMENT. WE AND OUR LICENSORS AND SERVICE PROVIDERS DO NOT WARRANT THAT THE SERVICE OFFERING
    WILL OPERATE UNINTERRUPTED OR THAT THEY WILL BE FREE FROM DEFECTS OR THAT THE SERVICE OFFERINGS WILL MEET (OR ARE
    DESIGNED TO MEET) YOUR BUSINESS REQUIREMENTS.
</li>
<li>8. Indemnification
    You will defend and indemnify us against any third party claim arising from or relating to: (a) Your Content; (b)
    any infringement or misappropriation of any Intellectual Property Rights by You, Your customers or Your suppliers;
    (c) violation of law by You; or (d) Your use of the Service Offering in violation of this Agreement. We will (i)
    provide you with notice of such claim within a reasonable period of time after learning of the claim; and (ii)
    reasonably cooperate in response to Your requests for assistance. You may not settle or compromise any indemnified
    claim without our prior written consent. The Service Offering is not provided with any protection or other coverage
    under Pivotal’s Open Source Indemnification Program.
</li>

<li>9. Limitation of Liability.</li>
<ul>
    <li>9.1 Limitation of Liability. TO THE MAXIMUM EXTENT MANDATED BY LAW, IN NO EVENT WILL WE OR OUR LICENSORS BE
        LIABLE FOR ANY LOST PROFITS OR BUSINESS OPPORTUNITIES, LOSS OF USE OF THE SERVICE OFFERINGS, LOSS OF REVENUE,
        LOSS OF GOODWILL, BUSINESS INTERRUPTION, LOSS OF DATA; OR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL
        DAMAGES, UNDER ANY THEORY OF LIABILITY, AND WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, PRODUCT LIABILITY, OR
        OTHERWISE. IN ADDITION, OUR AND OUR LICENSORS’ LIABILITY UNDER THIS AGREEMENT WILL NOT, IN ANY EVENT, REGARDLESS
        OF WHETHER THE CLAIM IS BASED IN CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, EXCEED THE AGGREGATE FEES YOU
        PAID TO US FOR THE SERVICE OFFERINGS IN THE TWELVE (12) MONTHS PRIOR TO THE EVENT GIVING RISE TO YOUR CLAIM
        REGARDLESS OF WHETHER WE OR OUR LICENSORS OR SERVICE PROVIDERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES AND REGARDLESS OF WHETHER ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE. BECAUSE SOME JURISDICTIONS DO NOT
        ALLOW ALL OR SOME OF THE FOREGOING EXCLUSIONS OR LIMITATIONS OF LIABILITY, THE PRECEDING LIMITATION MAY NOT
        APPLY TO YOU.
    </li>
    <li>9.2 Further Limitations. Our licensors and service providers shall have no liability of any kind under this
        Agreement and our liability with respect to any third party software or third party content provided with the
        Service Offerings is subject to Section 11.1 (Limitation of Liability).
    </li>
</ul>
<li>10. Confidential Information</li>
<ul>
    <li>10.1 Protection. You may use Confidential Information disclosed by Pivotal solely as expressly permitted under
        this Agreement. You will disclose Confidential Information only to the employees, affiliates, service providers,
        or contractors of the recipient party who have a need to know such Confidential Information for purposes of this
        Agreement and who are under a duty of confidentiality no less restrictive than each party’s duty hereunder. You
        will use at least the same degree of care you use to protect Your own confidential information of similar
        nature, but no less than reasonable care to protect the confidentiality of Confidential Information disclosed
        hereunder.
    </li>
    <li>10.2 Exceptions. Your obligations under Section 10.1 with respect to any Confidential Information will terminate
        if You can show by written records that such information: (a) was already known to You at the time of initial
        disclosure to You; (b) was disclosed to You by a third party who had the right to make such disclosure without
        any confidentiality restrictions; (c) is, or through no fault of recipient has become, generally available to
        the public; or (d) was independently developed by You without access to, or use of, Confidential Information
        disclosed hereunder. You may disclose Confidential Information to the extent that the disclosure is required by
        law or regulation. You shall provide us with notice, when practicable, and shall give us the opportunity to seek
        confidential treatment and take reasonable steps to contest and limit the scope of any required disclosure.
    </li>
</ul>
<li>11. Miscellaneous</li>
<ul>
    <li>11.1 Licensee shall comply with and obtain all authorizations required by U.S. export control laws and all
        related regulations. Licensee shall not assign this Evaluation Agreement or any right or delegate any
        performance. This Evaluation Agreement (i) is the complete statement of the agreement of the parties with regard
        to the subject matter hereof; (ii) may be modified only by a writing signed by both parties; (iii) is governed
        by the law of the State of California, excluding its conflict of law rules and The U.N. Convention on Contracts
        for the International Sale of Goods; (iv) applies to services provided in the absence of a separate, signed
        agreement; and (v) shall control in case of an inconsistent or conflicting term set forth on an Evaluation
        order. No waiver shall be deemed a waiver of any prior or subsequent default hereunder. If any part of this
        Evaluation Agreement is held unenforceable, the validity of the remaining provisions shall not be affected.
    </li>
</ul>
This Agreement was last updated on DATE, 2015.

