<script type="text/javascript">
    window.onload = function(e){
        $('#myModal').modal('show');
    }
</script>

<div class="modal fade modal-basic" data-toggle="modal" id="myModal" tabindex="-1" role="alert"
     aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="false">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Disclaimer</h4>
            </div>
            <div class="modal-body">
                This is some text from legal. You have to agree to it or YOU SHALL NOT PASS!!!!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">I Agree</button>
            </div>
        </div>
    </div>
</div>