<div class="form-group form-inline row">
    <label class="col-md-4" for="{{id}}">{{label}}</label>
    <input class="form-control col-md-6" id="{{id}}" type="number" ng-model="inputModel">
    <label class="sr-only" for="{{id + '_select'}}">Monthly or duration forecasting.</label>
    <select id="{{id + '_select'}}" class="col-md-6 form-control" id="iaasMonthlySelector">
        <option ng-model="selectModel" value="monthly">Monthly</option>
        <option ng-model="selectModel" value="duration">Duration</option>
    </select>
</div>