<div id="costing" ng-controller="ShekelCostingController">
    <div class="row">
        <div class="row">
            <div class="col-md-10" ng-include="'/app/components/costing/dea-resource-summary.html'"></div>
            <div class="col-md-10" ng-include="'/app/components/forecasting/forecasting_form.html'"></div>
        </div>

        <div class="row">
            <div class="col-md-10" ng-include="'/app/components/forecasting/burndown-mode.html'"></div>
            <div class="col-md-10" ng-include="'/app/components/costing/costing-input.html'"></div>
        </div>


    </div>
    <div class="row">
        <div ng-include="'/app/components/costing/tco.html'"></div>
    </div>

    <div class="row">
        <h3>Payoff Summary</h3>
        <p>
            Assuming all {{deaRam()}}(GB) of Available DEA Memory is consumed by AIs for the
            <shkl-month value="{{forecastLength}}"></shkl-month>
            month forecast duration,
            <shkl-money value="{{gbPerHrBreakEven()}}"></shkl-money>
            per GB/hour is your cost to deliver per AI.
        </p>
    </div>
    <div id="row" ng-include="'/app/components/costing/costing-summary.html'"></div>

    <div id="forecasting-runcard">
        <h3><p>Plans</p></h3>
        <div id="plans" ng-controller="ShekelPlanController">
            <div id="plan-list" ng-include="'/app/components/plan/plan_table.html'"></div>
            <a href="#" ng-click="showPlanForm=!showPlanForm">(New Plan Menu)</a>

            <div id="plan-form" ng-include="'/app/components/plan/plan_form.html'"></div>
        </div>
        <br>

        <h3><p>Plan Run Cards</p></h3>
        <div id="runcard-table" ng-include="'/app/components/forecasting/run_card.html'"></div>
    </div>
</div>
