<div id="costing" ng-controller="ShekelCostingController" >
    <h2>Costing: (Single Foundation)</h2>

    <div id="deaAllocations">
        <h3><p>IaaS Inputs from Sizing</p></h3>
        <table width="300">
            <caption>Iaas Resources 'Use-Able' to Elastic Runtime AIs from DEAs (Factoring Overhead)</caption>
            <tr>
                <td>vCPU #</td>
                <td>{{deaVcpu()}}</td>
            </tr>
            <tr>
                <td>Memory (GB)</th>
                <td>{{deaRam()}}</td>
            </tr>
            <tr>
                <td>Storage (GB)</td>
                <td>{{deaDisk()}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div id="per-instance-allocations">
        <table width="300">
            <caption>Avg Available IaaS Resources Per AI</caption>
            <tr>
                <td>vCPU % per AI</td>
                <td>{{aiAvgVcpu()}}</td>
            </tr>
            <tr>
                <td>Memory (GB)</th>
                <td>{{aiAvgRam()}}</td>
            </tr>
            <tr>
                <td>Storage (GB)</td>
                <td>{{aiAvgDisk()}}</td>
            </tr>
        </table>
    </div>

    <div id="costing-input">
        <h3><p>Costing Inputs</p></h3>
        Forecast Duration (Months) <input ng-model="forecastLength" type="number">
        <div>
            PCF Cost: <input ng-model="paasCost" type="number">
            <input type="radio" ng-model="paasMonthly" value="monthly">Monthly
            <input type="radio" ng-model="paasMonthly" value="duration">Duration
        </div>
        <div>
            IaaS Cost: <input ng-model="iaasCost" type="number">
            <input type="radio" ng-model="iaasMonthly" value="monthly">Monthly
            <input type="radio" ng-model="iaasMonthly" value="duration">Duration
        </div>
        <form>
            Operational Cost: <input ng-model="opexCost" type="number">
            <input type="radio" ng-model="opexMonthly" value="monthly">Monthly
            <input type="radio" ng-model="opexMonthly" value="duration">Duration
        </form>
        <br>
        <div id="tco">
            <table width="300">
                <caption>TCO for Foundation</caption>
                <tr>
                    <th>Cost Type</th>
                    <th>Cost</th>
                </tr>
                <tr>
                    <td>Duration</th>
                    <td><shkl-money value="{{getDurationTCO()}}"></shkl-money></td>
                </tr>
                <tr>
                    <td>Monthly</td>
                    <td><shkl-money value="{{getMonthlyTCO()}}"></shkl-money></td>
                </tr>
            </table>

            <!-- MG Commented Out <a>Total TCO is: <shkl-money value="{{getDurationTCO()}}"></shkl-money> over
                <shkl-month value="{{forecastLength}}"></shkl-month> months,
                <shkl-money value="{{getMonthlyTCO()}}"></shkl-money> monthly.</a>  -->
        </div>
        <br>
        <div id="payout">
            <p class="rmargin">
                <span> Assuming all <span class="showback">{{deaRam()}}</span>(GB) of Available DEA Memory is consumed by AIs for the <span class="showback"><shkl-month value="{{forecastLength}}"></shkl-month></span> month forecast duration, </span>
                <span> <span class="showback"><shkl-money value="{{gbPerHrBreakEven()}}"></shkl-money></span> per GB/hour is your cost to deliver per AI. </span>
            </p>
        </div>
    </div>
    <div id="forecasting-input">
        <h3><p>DEA IaaS Capacity Forecasting Inputs</p>
        </h3>
        <div id="costing-form" ng-include="'/app/components/forecasting/forecasting_form.html'"></div>
        <div id="forecasting-payout">
            <p>
                You will pay off your PCF Foundation in
                <shkl-month value="{{getPayoffMonths()}}"></shkl-month> months using a price of
                <span class="best-practice"> <shkl-money value="{{getGbPerHrWithPoints()}}"></shkl-money> </span> gb/hr.
            </p>
            <p>
                With your expected rampup and plans you'll be profitable in ~ {{calculatePayoffWithPlans()}} months.
            </p>
            <p>
                You will have an Estimated Profit/Loss of: <shkl-money value="{{totalProfit()}}"></shkl-money> at the end of {{forecastLength}} months.
            </p>
        </div>
    </div>
    <div id="forecasting-runcard">
        <h3><p>Plans</p></h3>
        <div id="plans" ng-controller="ShekelPlanController">
            <div id="plan-list" ng-include="'/app/components/plan/plan_table.html'"></div>
            <br>
            <a href="#" ng-click="showPlanForm=!showPlanForm">(New Plan Menu)</a>
            <div id="plan-form" ng-include="'/app/components/plan/plan_form.html'"></div>
        </div>
        <br>
        <h3><p>Plan Run Cards</p></h3>
        <div id="runcard-table" ng-include="'/app/components/forecasting/run_card.html'"></div>
    </div>
</div>
