<div class="row">
    <h3>IaaS DEA Resource Summary</h3>
</div>
<div class="col-md-12">
    <shkl-form-group label="vCPU" value="{{deaVcpu()}}"></shkl-form-group>
    <shkl-form-group label="Memory (GB)" value="{{deaRam()}}"></shkl-form-group>
    <shkl-form-group label="Storage (GB)" value="{{deaDisk()}}"></shkl-form-group>
</div>
<div class="col-md-12">
    <shkl-form-group label="vCPU % per AI" value="{{aiAvgVcpu()}}"></shkl-form-group>
    <shkl-form-group label="Memory (GB)" value="{{aiAvgRam()}}"></shkl-form-group>
    <shkl-form-group label="Storage (GB)" value=" {{aiAvgDisk()}}"></shkl-form-group>
</div>