<div ng-if="storage.selectedIaaS == 'aws' || storage.selectedIaaS == 'aws-dedicated'" class="animate-if">
  <div class="panel panel-primary">
    <div class="panel-heading bg-brand-6">Notes for AWS</div>
    <table class="table table-light">
      <tr>
        <td>
          <p>For more details on the minimum starting requirements refer to the
            <a target="_blank" href="http://docs.pivotal.io/pivotalcf/customizing/requirements.html#aws">documentation</a></p>
          <p>Your AWS account must have the following resources before you install Tanzu Application Service </p>
          <ul>
            <li>1 Elastic Load Balancer</li>
            <li>1 Relational Database Service. We recommend at least a db.m3.xlarge instance with 100 GB of allocated storage</li>
            <li>5 S3 Buckets</li>
            <li>An AWS account that can accommodate the minimum resource requirements for a PCF installation.</li>
            <li>The appropriate region selected within your AWS account. See the Amazon documentation on regions and availability zones for help selecting the correct region for your deployment.</li>
            <li>The AWS CLI installed on your machine, and configured with user credentials that have admin access to your AWS account.</li>
            <li>Sufficiently high instance limits (or no instance limits) on your AWS account. Installing Tanzu Application Service requires more than the default 20 concurrent instances.</li>
            <li>A key pair to use with your Tanzu Application Service deployment. Create a key pair in AWS.</li>
            <li>A registered wildcard domain for your PCF installation. You will need this registered domain when configuring your SSL certificate and Cloud Controller. See the AWS docs on Creating a Server Certificate for more information.</li>
            <li>An SSL certificate for your PCF domain. This can be a self-signed certificate, but Pivotal only recommends using a self-signed certificate for testing and development. You should obtain a certificate from your Certificate Authority for use in production. See the AWS docs on SSL certificates for more information.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
