<div class="panel panel-primary">
  <div class="panel-heading bg-brand-6">Step 2: TAS Version</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="form-group form-inline">
        <label class="col-md-8" for="pcfVersion">TAS Version</label>
        <select class="form-control col-md-16 input-sm" id="pcfVersion"
            ng-model="storage.elasticRuntimeConfig.ersVersion"
            ng-options="v for v in data.ersVersionOptions"
            ng-change=" pcfVersionChanged()"></select>
      </div>
    </form>
  </div>
</div>
