<div ng-if="storage.selectedIaaS == 'vsphere'" class="animate-if">
  <div class="panel panel-primary">
    <div class="panel-heading bg-brand-6">Notes for vSphere</div>
    <table class="table table-light">
      <tr>
        <td>
          <p>For more details on the minimum starting requirements refer to the
            <a target="_blank" href="http://docs.pivotal.io/pivotalcf/customizing/requirements.html#vsphere">documentation</a></p>
          <p>Your vSphere cluster must have the following resources available before you install Tanzu Application Service </p>
          <ul>
            <li>Two public IP addresses: One for Tanzu Application Service and one for Ops Manager</li>
            <li>Ops Manager Director must have HTTPS access to vCenter and ESX hosts on TCP ports 443, 902, and 903.</li>
            <li><b>For specific IaaS resource requirements, see below for more detail</b></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
