Avg Mem per AI  (GB):
<select ng-model="platform.avgRam"
	ng-options="opt as opt.value for opt in avgRamOptions"></select>
<br>

Avg Storage per AI (GB):
<select ng-model="platform.avgAIDisk"
	ng-options="opt as opt.value for opt in avgAIDiskOptions"></select>
<br><br>


DEA Mem Size:
<select ng-model="platform.deaSize"
	ng-options="opt as opt.text for opt in deaSizeOptions">
</select>
<br>

DEA Ephemeral Storage Size:
<select ng-model="platform.deaSizeDisk"
	ng-options="opt as opt.text for opt in deaSizeOptionsDisk">
</select>
<br><br>

AZs # of:
<input type="number" ng-model="platform.numAZ"></input>

<br>
<!-- 
AZ Recovery (Ignored, use n+x factor: tracker #91141454):
<select>
	<option ng-repeat="i in aZRecoveryCapacity">{{i}}%</option>
</select>
-->

AZ DEA N+1 Factor:
<input type="number" ng-model="platform.nPlusX"></input>

<br><br>

IAAS vCPU to Core Consolidation Ratio:
<select ng-model="platform.iaasCPUtoCoreRatio"
	ng-options="opt as opt.text for opt in iaasCPUtoCoreRatioOptions"></select>
<br><br>

PCF Post Errand jobs (i.e. Push Console) #:
<select ng-model="platform.pcfErrandJobs"
	ng-options="opt as opt.value for opt in pcfErrandJobsOptions"></select>
<br><br>

