<table>
  	<caption><b>Resource Min Requirements Summary</b></caption>
  		<tr>
    		<td>DEA Memory 'Use-Able' (GB)</td>
    		<td>{{deaUsableRam()}}</td>
  		</tr>  
  		<tr>
    		<td>DEA Storage 'Use-Able' (GB)</td>
    		<td>{{deaUsableStg()}}</td>
  		</tr>  
  		<tr>
    		<td>DEA # Total</td>
    		<td>{{totalDEAs()}}</td>
  		</tr>  
  		<tr>
    		<td>DEA # per AZ</td>
    		<td>{{deasPerAz()}}</td>
  		</tr>  
  		<tr>
    		<td>Foundation Memory (GB)</td>
    		<td>{{iaasAskSummary.ram}}</td>
  		</tr>  
  		<tr>
    		<td>Foundation Storage (GB)</td>
    		<td>{{iaasAskSummary.disk}}</td>
  		</tr>  
  		<tr>
    		<td>Foundation vCPU # </td>
    		<td>{{iaasAskSummary.vcpu}}</td>
  		</tr>  
  		<tr>
    		<td>Foundation Physical Cores (2GHz or >) # </td>
    		<td>{{getPhysicalCores()}}</td>
  		</tr>  
</table>
