<h3>New Plan</h3>
<form role="form">
    <div class="row">
        <div class="col-md-10">
            <label for="planName">Name</label>
            <input id="planName" class="form-control" type="text" ng-model="plan.name">

            <label for="ramQuota">RAM Quota</label>
            <input id="ramQuota" class="form-control" type="number" ng-model="plan.memoryQuota"
                   value="{{plan.memoryQuota}}">

            <label for="maxRam">Max RAM/AI</label>
            <input id="maxRam" class="form-control" type="number" ng-model="plan.maxInstanceMem"
                   value="{{plan.maxInstanceMem}}">

            <label for="routes"># Routes</label>
            <input id="routes" class="form-control" type="number" ng-model="plan.maxRoutes" value="{{plan.maxRoutes}}">

            <label for="serviceInstances"># Service Instances</label>
            <input id="serviceInstances" class="form-control" type="number" ng-model="plan.maxServiceInstances"
                   value="{{plan.maxServiceInstances}}">
        </div>
        <div class="col-md-10">
            <label for="paidServices"> Paid Service Plans:</label>
            <select id="paidServices" class="form-control" ng-model="plan.paidServicePlans"
                    ng-options="opt as opt.label for opt in paidServicePlanOptions"></select>

            <label for="diskQuota">Disk Quota</label>
            <input id="diskQuota" type="number" class="form-control" ng-model="plan.diskQuota"
                   value="{{plan.diskQuota}}">

            <label for="ais"># AIs</label>
            <input id="ais" type="number" class="form-control" ng-model="plan.aiMax" value="{{plan.aiMax}}">

            <label for="consumption"> IaaS Consumption %</label>
            <input id="consumption" type="number" class="form-control" ng-model="plan.consumption"
                   value="{{plan.consumption}}">
        </div>
    </div>
    <div>
        <a href="#" ng-click="newPlan()">(submit)</a>
    </div>
</form>