<div id="services">
    <h3>PCF Services Sizing</h3>

    <div id="mysql-row" class="panel panel-basic bg-neutral-9 col-md-9">

        <div class="panel-header">

            <div class="checkbox">
                <label>
                    <input type="checkbox">MySQL</input>
                </label>

            </div>
        </div>

        <div class="panel-body">
            <form class="form-group form-inline" role="form">

                <label for="version" class="">Version</label>

                <select class="form-control col-md-6 input-sm" ng-model="service.serviceVersion"
                        ng-options="opt as opt.value for opt in ersVersionOptions" ng-change="loadAzTemplate()">
                </select>



                <select id="version" class="form-control input-sm">
                    <option>1</option>
                    <option>2</option>
                </select>
            </form>
            <a href="#">Configure</a>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row col-md-20">
    <div id="vm-detail" ng-include="'app/components/sizing/vm-detail.html'"></div>
</div>`