<table>
<thead>
	<tr>
		<td>Name</td><td>RAM Quota</td>
		<td>Max Instance RAM</td>
		<td>Max Routes</td>
		<td>Max Service Instances</td>
		<td>Paid Service Plans</td>
		<td>Disk Quota</td>
		<td>Max AI's</td>
		<td>GB/Hour Cost</td>
		<td>IaaS Reservation %</td>
	</tr>
</thead>
	<tr ng-repeat="plan in plans">
		<td><input type="text" ng-model="plan.name"></td>
		<td><input type="number" ng-model="plan.memoryQuota"></td>
		<td><input type="number" ng-model="plan.maxInstanceMem"></td>
		<td><input type="number" ng-model="plan.maxRoutes"></td>
		<td><input type="number" ng-model="plan.maxServiceInstances"></td>
		<td>
			<select ng-model="plan.paidServicePlans">
				<option value="true">true</option>
				<option value="false">false</option>
			</select>
		</td>
		<td><input type="number" ng-model="plan.diskQuota"></td>
		<td><input type="number" ng-model="plan.aiMax"></td>
		<td><input type="number" ng-model="plan.gbPerHr"></td>
		<td><input type="number" ng-model="plan.consumption"></td>
	</tr>
</table>

<span class="invalid" ng-if="overcommitted()">IaaS is over committed!</span> 
<span class="valid" ng-if="!overcommitted()">IaaS is not over committed!</span> 
