
.best-practice {
	color: green;
	border: solid;	
}

.invalid { 
	color: red;
}

.valid { 
	color: green;
}

.showback { 
	color: blue;
}

table, th, td {
    		border: 1px solid blue;
	}

th {
    	background-color: blue;
   		color: white;
	}
	
p {
    text-indent: 50px;
}

p.rmargin {
	text-indent: 0px;
    margin-right: 500px;
    margin-left: 50px;
}

section {
    width: 100%;
}

#plan-run-card { 
    background: grey;
    float: left;
}